body {
    background-color: #f0caa7;
}
/*this to*/
ul {
    list-style: none;
    background: rgb(172, 157, 120);
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 10px 10px;
    color: rgb(119, 93, 56);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: rgb(198, 156, 92);
    position: absolute;
    display: none;
}

ul li a:hover {
    background-color: lemonchiffon;
}

ul li:hover ul.dropdown {
    display: block;
}

/*this is for the dropdown menu. I used a youtube video*/

 .feature-card {
    border: 5px solid #b6661d; 
    padding: 20px; 
    margin: 20px; 
    background-color: #f6dfca; 
}

.feature-card h3 {
    font-size: 20px; 
    margin-bottom: 10px;
    color: #000000; 
}

.feature-card p {
    margin-bottom: 10px; 
    color: #000000;
}

p a {
    color: #f2ceae;
}

form {
    background-color: #ebb483;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: left;
}

th {
    background-color: rgb(170, 181, 121);
    color: rgb(0, 0, 0);
    padding: 12px 15px,
    border: 1px solid: white;
}

td {
    padding:12px 15px;
    border: 1px solid:white
}

tr {
    background-color: rgb(207, 218, 134)
}

table, th, td {
    border: 1px solid rgb(33, 32, 19);
}

