body {
    background-color: rgb(243, 226, 201);
}
footer {
    background-color: gray;
}

@import url('https://fonts.googleapis.com/css2?family=poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', monospace;
}

ul {
    list-style: none;
    background: rgb(172, 157, 120);
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 10px 15px;
    color: rgb(119, 93, 56);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 60%;
    background: rgb(198, 156, 92);
    position: absolute;
    display: none;
}

ul li a:hover {
    background-color: bisque;
}

ul li:hover ul.dropdown {
    display: block;
}





