body {
    background-color: #f0caa7;
}

ul {
    list-style: none;
    background: rgb(172, 157, 120);
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 10px 10px;
    color: rgb(119, 93, 56);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: rgb(198, 156, 92);
    position: absolute;
    display: none;
}

ul li a:hover {
    background-color: gray;
}

ul li:hover ul.dropdown {
    display: block;
}

 .feature-card {
    border: 5px solid #b6661d; 
    padding: 20px; 
    margin: 20px; 
    background-color: #f6dfca; 
}

.feature-card h3 {
    font-size: 20px; 
    margin-bottom: 10px;
    color: #000000; 
}

.feature-card p {
    margin-bottom: 10px; 
    color: #000000;
}

p a {
    color: #f2ceae;
}

form {
    background-color: #ebb483;
}
.special-feature {
    width: 150px;
}
